ul{
    background-color: #2f2f2f;
    color: #ffffff;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
    margin:0 auto;
    margin-bottom: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0;
    margin-bottom: 0;
}

.homeButton{
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}

.search{
    border: none;
    width: 5%;
    padding-right: 25px;
}

input{
    float: none;
    border: none;
}

li{
    line-height: 10px;
    height: 10px;
    width: 10px;
    list-style-type: none;
    margin:6px 0 10px 0;
    padding: 75px;
    display: inline;
    padding-top: 15px;
    border-radius: 0;
    margin-bottom: 0;
    top: 15px;
    color: #ffffff;
    line-height: 10px;
    height: 10px;
}