ul{
    background-color: #2f2f2f;
    color: #ffffff;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
    margin:0 auto;
    margin-bottom: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0;
    margin-bottom: 0;
}


button{
    float: right;
    background-color: #2f2f2f;
    width: 20px;
}


i{
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    background: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

input{
    float: right;
    border: none;
    width: 5%;
    display: inline-block;
    overflow: hidden;
    padding-right: 345px;
}

li{
    line-height: 10px;
    height: 10px;
    width: 10px;
    list-style-type: none;
    margin:6px 0 10px 0;
    padding: 75px;
    display: inline;
    padding-top: 15px;
    border-radius: 0;
    margin-bottom: 0;
    top: 15px;
    color: #ffffff;
    line-height: 10px;
    height: 10px;
}